<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAK9oxGhLwh70dYFGNZBzLj7mCcBYS26yo</string>
	<key>GCM_SENDER_ID</key>
	<string>823313764710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Yize_Notes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>yizenotes</string>
	<key>STORAGE_BUCKET</key>
	<string>yizenotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823313764710:ios:771dd08f83b2655c67b8a7</string>
</dict>
</plist>